* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  ‘Montserrat’, sans-serif;
}

.container {
    width: 70%;
    margin: auto;
}

/* impostazioni generali header*/
.logo {
    height: 50px;
    width: 150px;
}

.logo img {
    max-width: 100%; 
}

nav ul li {
    display: inline-block;
    margin: 40px 5px;
    list-style-type: none;  
}

nav ul li a {
    color: #a7a7a7;
    font-size: 12px;
    text-decoration: none;
}

/* impostazioni generali main */
.content-top {
    margin-top: 20px;
    width: 100%;
    /* debug */
    height: 350px;
    background: lime;
    border-radius: 10px;
}

.content-bottom {
    margin-top: 20px;
    width: 100%;
    /* debug */
    height: 600px;
    background: deepskyblue;
    border-radius: 10px;
}

/* .content-bottom::after {
    content: '';
    display: table;
    clear: both;
} */

.content-bottom .top-bar {
    width: 100%;
    /* debug */
    height: 60px;
    background: lightskyblue;
    border-radius: 10px 10px 0 0;
}

.content-bottom .left {
    margin: 20px 0;
    float: left;
    width: 20%;
    /* debug */
    height: 500px;
    background: lightskyblue;
}

.content-bottom .center {
    margin: 20px 2%;
    float: left;
    width: 56%;
    /* debug */
    height: 500px;
    background: lightskyblue;
}

.content-bottom .right {
    margin: 20px 0;
    float: left;
    width: 20%;
    /* debug */
    height: 500px;
    background: lightskyblue;
}

/* impostazioni generali footer */
.footer {
    margin-top: 5px;
    width: 100%;
    /* debug */
    height: 40px;
    background: grey;
    border-radius: 10px 10px 0 0;
}